<StackLayout class="modal" verticalAlignment="center" orientation="vertical">
    <DockLayout (tap)="setType(0)" ripple rippleColor="#777777" stretchLastChild="true" class="info"> 
        <Label dock="left" text="Fryzjer"></Label>
        <Image dock="right" horizontalAlignment="right" class="arrow" src="res://city_arrow"></Image>
    </DockLayout>
    <StackLayout class="my-hr hr m-10"></StackLayout>
    <DockLayout (tap)="setType(1)" ripple rippleColor="#777777" stretchLastChild="true" class="info"> 
        <Label dock="left" text="Barber"></Label>
        <Image dock="right" horizontalAlignment="right" class="arrow" src="res://city_arrow"></Image>
    </DockLayout>
    <StackLayout class="my-hr hr m-10"></StackLayout>
    <DockLayout (tap)="setType(2)" ripple rippleColor="#777777" stretchLastChild="true" class="info"> 
        <Label dock="left" text="Makijaż"></Label>
        <Image dock="right" horizontalAlignment="right" class="arrow" src="res://city_arrow"></Image>
    </DockLayout>
    <StackLayout class="my-hr hr m-10"></StackLayout>
    <DockLayout (tap)="setType(3)" ripple rippleColor="#777777" stretchLastChild="true" class="info"> 
        <Label dock="left" text="Paznokcie"></Label>
        <Image dock="right" horizontalAlignment="right" class="arrow" src="res://city_arrow"></Image>
    </DockLayout>
    <StackLayout class="my-hr hr m-10"></StackLayout>
    <DockLayout (tap)="setType(4)" ripple rippleColor="#777777" stretchLastChild="true" class="info"> 
        <Label dock="left" text="Masaż"></Label>
        <Image dock="right" horizontalAlignment="right" class="arrow" src="res://city_arrow"></Image>
    </DockLayout>
    <StackLayout class="my-hr hr m-10"></StackLayout>
    <DockLayout (tap)="setType(5)" ripple rippleColor="#777777" stretchLastChild="true" class="info"> 
        <Label dock="left" text="Depilacja"></Label>
        <Image dock="right" horizontalAlignment="right" class="arrow" src="res://city_arrow"></Image>
    </DockLayout>
</StackLayout>
