.search-image{
  height: 200;
  margin: 10 0 0 0;
}
.content {
  background-color: #F5F5F5;
  padding-left: 30;
  padding-right: 30;
}

.search-bar {
  border-radius: 5;
  font-size: 20;
  android-elevation: 1;
  text-field-hint-color: #A8A8A8;
}

.search-box{
  margin: 0 10 30 10;
}

.search{
  border-radius: 5;
  border-width: 0 0 1.5 0;
  border-color: #cfabc7; 
}

.list-title-header{
  font-size: 25;
  color: #AF83A5;
}

.list-title-city{
  font-size: 20;
  font-weight: 200;
  color:  #A8A8A8;
}

.location{
  width: 18;
  height: 18;
  vertical-align: center;
}

.list{
  height: 650;
}

.salon-thumb{
  border-radius: 5 5 0 0;
}

.scroll-menu{
  margin: 0 0 10 0
}

.categories-title{
  font-size: 20;
  color: #AF83A5;
}

.categories-photo{
  border-radius: 8;
  height: 170;
}

.scroll-item{
  margin: 0 5 0 5;
}