.page {
    background-color: #F5F5F5;
}

.list {
  margin: 10 10 0 10;
}

.button-bar{
  width: 100%;
}

.button{
  text-align: center;
  width: 100%;
  font-size: 20;
  font-weight: 200;
  padding: 5;
}

.button-active{
  border-width: 1;
  border-color: #e09ad0;
  background-color: #e09ad0;
  color: white;
}

.button-disactive{
  border-width: 1;
  border-color: #e09ad0;
  background-color: transparent;
  color: #e09ad0;
}

.not-found{
  padding: 20 20 20 20;
}

.not-found-text{
  margin-top: 20;
  font-size: 30;
  color: #777777;
  text-align: center;
}

.list-title{
  font-size: 40;
  padding-left: 20;
  color: #e09ad0;
}

.nofav-icon{
  width: 250;
}

.fav-btn{
  width: 40;
  height: 40;
  margin-right: 10;
}

.salon-item{
  background-color: white;
  padding: 0;
  border-radius: 5;
  border-width: 0 0 1 0;
  border-color: #cecece;
}

.info{
  padding: 5;
}

.salon-name{
  padding: 0;
  font-size: 30;
  color: #AF83A5;
}

.salon-type{
  padding: 0;
  font-size: 15;
  color: #A8A8A8;
}

.visits{
  background-color: #dd7295;
  border-radius: 0 5 5 0;
  padding: 0;
}

.visits-text {
  vertical-align: middle;
  text-align: center;
  font-size: 20;
  color: white;
  padding: 0;
}

.visits-title-text {
  opacity: .7;
  vertical-align: middle;
  text-align: center;
  font-size: 15;
  color: white;
  padding-top: 5;
}

.status {
  text-align: right;
  color: #e09ad0;
  font-size: 20;
  margin: 0;
  padding: 0;
}