
<BottomNavigation>
    <TabStrip id="navigation">
        <TabStripItem class="navigation__item">
            <Label text="Szukaj"></Label>
            <Image src="res://search_ico"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="Wizyty"></Label>
            <Image src="res://calendar_ico"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="Ulubione"></Label>
            <Image src="res://fav_icon"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="Konto"></Label>
            <Image src="res://acc_ico"></Image>
        </TabStripItem>
    </TabStrip>

    <TabContentItem>
        <page-router-outlet name="browserTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="visitsTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="favTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="accountTab"></page-router-outlet>
    </TabContentItem>
</BottomNavigation>