<Page loaded="pageLoaded()">    
    <DockLayout *ngIf="showWelcome">
        <StackLayout dock="bottom" verticalAlignment="bottom" orientation="vertical">
            <Label verticalAlignment="center" horizontalAlignment="center"  class="hi-title" textWrap="true" [text]="'Witaj ' + userService.user.firstName +'!'"></Label>
            <Label verticalAlignment="center"  class="hi" textWrap="true" text="Zanim zaczniemy muszę zapytać Cię o kilka rzeczy..."></Label>
            <Button class="btn" (tap)="next(1)" text="Zaczynamy!"></Button>
            <Image src="res://hi"></Image>
        </StackLayout>
    </DockLayout>
    <GridLayout class="icons" rows="auto,*,auto" *ngIf="showAccountType">
        <Label row="0" horizontalAlignment="center" class="account-text" textWrap="true" text="Czy chcesz zarządzać swoim salonem?"></Label>
        <Image row="1" width="90%" src="res://salon"></Image>
        <StackLayout row="2" orientation="horizontal">
            <Label horizontalAlignment="center" text="Nie" (tap)="setAccountType('Client')" class="btn-account btn-disactive"></Label>
            <Label horizontalAlignment="center" text="Tak" (tap)="setAccountType('Salon')" class="btn-account btn-active"></Label>
        </StackLayout>
    </GridLayout>
    <StackLayout *ngIf="showLocation" class="location-page">
        <Label class="list-title" text="Wybierz miasto"></Label>
        <ListView height="650" [items]="location.cities" class="list-group">
            <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                <DockLayout (tap)="setLocation(item.city)" stretchLastChild="true" class="item">
                    <StackLayout dock="left" orientation="horizontal">
                        <Label [text]="item.city" class="item-city"></Label>
                        <Label [text]="'(' + item.count + ')'" class="item-count"></Label>
                    </StackLayout>
                    <Image dock="right" horizontalAlignment="right" class="arrow" src="res://city_arrow"></Image>
                </DockLayout>
            </ng-template>
        </ListView>
    </StackLayout>
</Page>