<DockLayout>
    <GridLayout dock="bottom" rows="*" columns="*, *, *, *" height="60">
        <StackLayout col="0" row="0" [nsRouterLink]="['/menu/browser']">
            <Label text="Szukaj"></Label>
            <Image src="res://search_ico"></Image>
        </StackLayout>
        <StackLayout col="1" row="0" [nsRouterLink]="['/menu/visits']">
            <Label text="Wizyty"></Label>
            <Image src="res://calendar_ico"></Image>
        </StackLayout>
        <StackLayout col="2" row="0" [nsRouterLink]="['/menu/fav']">
            <Label text="Ulubione"></Label>
            <Image src="res://fav_icon"></Image>
        </StackLayout>
        <StackLayout col="3" row="0" [nsRouterLink]="['/menu/account']">
            <Label text="Konto"></Label>
            <Image src="res://acc_ico"></Image>
        </StackLayout>
        
    </GridLayout>
    <ScrollView orientation ="vertical">
        <router-outlet></router-outlet>
    </ScrollView>
</DockLayout>

<!-- <BottomNavigation>
    <Label style="background-color: red; width: 200px; height: 200px;">FSDFSDFSD</Label>
</BottomNavigation> -->
<!-- <BottomNavigation>
   <TabStrip id="navigation">
        <TabStripItem class="navigation__item">
            <Label text="Szukaj"></Label>
            <Image src="res://search_ico"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="Wizyty"></Label>
            <Image src="res://calendar_ico"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="Ulubione"></Label>
            <Image src="res://fav_icon"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="Konto"></Label>
            <Image src="res://acc_ico"></Image>
        </TabStripItem>
    </TabStrip>

    

    <TabContentItem>
        <page-router-outlet name="browserTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="visitsTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="favTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="accountTab"></page-router-outlet>
    </TabContentItem>
</BottomNavigation> -->