.page {
    background-color: #F5F5F5;
    padding: 0 20 10 20;
    height: 100%;
  }

  .btn {
    height: 40;
    margin: 5;
    font-size: 20;
    font-weight: 200;
  }

  .logout {
    width: 50%;
    background-color:#AF83A5;
    border-width: 2;
    border-color: #AF83A5;
    border-radius: 2;
    color: white;
  }

  .delete {
    width: 50%;
    background-color: #F5F5F5;
    color: rgb(215, 0, 0);
    border-width: 1;
    border-color: rgb(215, 0, 0);
    border-radius: 2;
  }

  .info{
    width: 100%;
    padding: 10;
    text-align: left;
    color: #777777;
    background-color: #F5F5F5;
    font-size: 20;
    font-weight: 200;
  }
  
  .header{
    font: 30;
    color: #AF83A5;
  }

  .header-box{
    margin-bottom: 50;
  }

  .list-title-city{
    font-size: 20;
    font-weight: 200;
    color:  #A8A8A8;
  }

  .location{
    width: 18;
    height: 18;
    vertical-align: center;
  }

  .my-hr{
    margin: 0;
  }

  .icon {
    margin-bottom: 10;
  }

  .arrow{
    width: 10;
}