<FlexboxLayout height="100%" class="page">
    <GridLayout>
        <ListView height="650" *ngIf="!isEmpty" class="list" separatorColor="transparent" [items]="this.salons">
            <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                <AbsoluteLayout>
                    <StackLayout orientation="vertical">
                        <StackLayout class="salon-item" [class.odd]="odd" [class.even]="even">
                            <Image (tap)="salon.onItemTap(item.id)" class="salon-thumb" src="res://placeholder_barber" stretch="aspectFill" height="180"></Image>
                            <DockLayout>
                                <StackLayout (tap)="salon.onItemTap(item.id)" dock="left" orientation="vertical">
                                    <Label class="salon-name" [text]='item.name'></Label>
                                    <Label class="salon-type" [text]='item.location.city'></Label>
                                </StackLayout>
                                <Image (tap)="salon.onFavTap(item.id, item.isFav); item.isFav = !item.isFav" dock="right" horizontalAlignment="right" class="fav-btn" [attr.src]="item.isFav ? 'res://unfav_btn' : 'res://fav_btn'"></Image>
                            </DockLayout>
                        </StackLayout>
                    </StackLayout>
                    <Label class="salon-rate" [text]='salon.rateAVG(item.rates)'></Label>
                </AbsoluteLayout>
            </ng-template>
        </ListView>
        <StackLayout verticalAlignment="middle" *ngIf="isEmpty">
            <Image src="res://notfound_icon" class="no-found-icon"></Image>
            <Label class="no-found-text" text="Brak wyników"></Label>
        </StackLayout>
    </GridLayout>
</FlexboxLayout>

