.page {
    align-items: center;
    flex-direction: column;
  }
  .form {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 2;
    vertical-align: middle;
  }
 
  .bold-form {
    color: #555555;
  }

  .logo {
    margin-bottom: 20;
    height: 100;
  }

  .input-field {
    margin-bottom: 0;
  }
  .input {
    font-size: 18;
    placeholder-color: #A8A8A8;
  }

  .btn-primary {
    height: 50;
    width: 200;
    margin: 30 5 15 5;
    background-color:#AF83A5;
    color: white;
    /* border-radius: 5; */
    font-size: 20;
    font-weight: 200;
  }
  .login-label {
    horizontal-align: center;
    color: #A8A8A8;
    font-size: 16;
  }
  .sign-up-label {
    margin-bottom: 20;
  }
  .bold {
    color: #000000;
  }
  .error-msg {
    color: rgba(255, 0, 0, 0.6);
    margin-left: 15s;
  }
  .color-danger {
    placeholder-color: rgba(255, 0, 0, 0.6);
    color: rgba(255, 0, 0, 0.6);
    margin-bottom: 0;
  }