.modal{
    padding: 10 10 0 10;
    background-color: #F5F5F5;
}

.services-item{
    padding: 5 10 5 10;
    border-radius: 5;
    border-width: 0 0 1 0;
    border-color: #cccccc;
    background-color: white;
  }
  
  .services-name{
    font-size: 15;
    color: #747474;
  }

  .services-info{
    font-size: 25;
    color: #e09ad0;
  }

  .btn-add{
    text-align: center;
    font-size: 23;
    font-weight: 200;
    color: #e09ad0;
    height: 40;
    width: 40;
    border-radius: 50%;
    border-width: 1;
    border-color: #e09ad0;
  }

  .header {
    text-align: center;
    color: gray;
    font-size: 20;
    font-weight: 200;
    margin-bottom: 10;
  }

  .btn {
    margin: 0;
    font-size: 20;
    font-weight: 200;
    color: white;
  }

  .btn-reserv{
    width: 100%;
    background-color: #e09ad0;
  }

  .btn-done{
    width: 100%;
    background-color: #AF83A5;
  }

  .btn-reset {
    width: 30;
    height: 30;
    border-radius: 50%;
    background-color:#dd7295;
    padding: 0;
  }
  
  .btn-reset-text {
    font-size: 13;
    color: white;
    vertical-align: middle;
    text-align: center;
  }
  