.page {
  background-color: #F5F5F5;
}

.content {
  orientation: vertical;
  background-color: #F5F5F5;
  margin-left: 30;
  margin-right: 30;
  width: auto; 
  height: auto;
}

.search {
}
.search-bar {
  margin: 100 0 50 0;
  font-size: 15;
  android-elevation: 1;
}

.list-title{
  height: 50;
  font-size: 20;
}

.list{
  height: 650;
   /* padding-top: 20; */
}