.page {
    align-items: center;
    flex-direction: column;
    background-color: #F5F5F5;
  }

.search-bar {
    margin-top: 60;
    font-size: 15;
    textFieldHintColor: #A8A8A8; /*nie działa*/
    border-radius: 50;
    android-elevation:1;
}

.btn-primary {
    height: 50;
    margin: 30 5 15 5;
    background-color:#AF83A5;
    color: white;
    /* border-radius: 5; */
    font-size: 20;
    font-weight: 200;
  }
