.page {
  background-color: #F5F5F5;
}

.content {
  orientation: vertical;
  background-color: #F5F5F5;
  padding-left: 30;
  padding-right: 30;
  width: auto; 
  height: auto;
}

.search-bar {
  border-radius: 5;
  font-size: 20;
  android-elevation: 1;
  text-field-hint-color: #A8A8A8;
}

.search{
  border-radius: 5;
  border-width: 0 0 1.5 0;
  border-color: #cfabc7; 
  margin: 50 10 50 10;
}
.list-title{
  height: 70;
}
.list-title-header{
  font-size: 25;
  color: #AF83A5;
}
.list-title-city{
  font-size: 20;
  color:  #A8A8A8;
}

.location{
  width: 18;
  height: 18;
  vertical-align: center;
}
.list{
  height: 650;
}

.salon-thumb{
  border-radius: 5 5 0 0;
}

.salon-item{
  background-color: white;
  border-radius: 5;
  border-width: 0 0 1 0;
  border-color: #cccccc;
  padding: 0;
}

.salon-name{
  padding: 0;
  font-size: 30;
  color: #AF83A5;
}

.salon-type{
  padding: 0;
  font-size: 15;
  color: #A8A8A8;
}

.salon-rate{
  font-size: 20;
  color: white;
  /* horizontal-align: right; */
  padding: 5;
  border-radius: 100;
  background-color: #AF83A5;
}
