<Page class="location-page">
    <FlexLayout>
        <StackLayout verticalAlignment="top">
            <Label class="list-title" text="Wybierz miasto"></Label>
            <ListView [items]="location.cities" class="list-group">
                <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                    <DockLayout (tap)="sendSettings(item.city)" stretchLastChild="true" class="item">
                        <StackLayout dock="left" orientation="horizontal">
                            <Label [text]="item.city" class="item-city"></Label>
                            <Label [text]="'(' + item.count + ')'" class="item-count"></Label>
                        </StackLayout>
                        <Image dock="right" horizontalAlignment="right" class="arrow" src="res://city_arrow"></Image>
                    </DockLayout>
                </ng-template>
            </ListView>
        </StackLayout>
        <StackLayout verticalAlignment="bottom">
            <Button text="Anuluj" (tap)="close()" class="btn"></Button>
        </StackLayout>
    </FlexLayout> 
</Page>