<ActionBar title="" [flat]="true" [className]="salon.checkRoute(['browser']) ? 'bar' : 'bar-search'">
    <NavigationButton *ngIf="!salon.checkRoute(['browser','visits','fav','account','salon','services'])" icon="res://back_icon" (tap)="back()"></NavigationButton> 
    <Image *ngIf="salon.checkRoute(['browser'])" [attr.src]="account.checkAccountType() ? 'res://logo_bar_salon' : 'res://logo_bar' " class="action-image"></Image>
    <Label *ngIf="!salon.checkRoute(['browser'])" class="title" [text]="getHeader()"></Label>
    <ActionItem (tap)="back()">
        <StackLayout class="bell">
            <StackLayout *ngIf="auth.showNotificationCounter()" class="notification">
                <Label class="notification-text" [text]="auth.notification.length < 10 ? auth.notification.length : '+'"></Label>
            </StackLayout>
        </StackLayout>
    </ActionItem>
</ActionBar>

<DockLayout>
    <GridLayout *ngIf="!account.checkAccountType()" class="bottom-navigation" dock="bottom" rows="*" columns="*, *, *, *" height="65">
        <StackLayout class="tab" col="0" row="0" [nsRouterLink]="['/menu/browser']" 
        [className]="salon.checkRoute(['category', 'browser']) ? 'tab-active' : 'tab'">
            <Image class="tab-icon" [attr.src]="salon.checkRoute(['category', 'browser']) ? 'res://a_search_ico' : 'res://search_ico'"></Image>
            <Label class="tab-text" text="Szukaj"></Label>
        </StackLayout>
        <StackLayout class="tab" col="1" row="0" [nsRouterLink]="['/menu/visits']" [className]="salon.checkRoute(['visits']) ? 'tab-active' : 'tab'">
            <Image class="tab-icon" [attr.src]="salon.checkRoute(['visits']) ? 'res://a_calendar_ico' : 'res://calendar_ico'"></Image>
            <Label class="tab-text" text="Wizyty"></Label>
        </StackLayout>
        <StackLayout class="tab" col="2" row="0" [nsRouterLink]="['/menu/fav']" [className]="salon.checkRoute(['fav']) ? 'tab-active' : 'tab'">
            <Image class="tab-icon" [attr.src]="salon.checkRoute(['fav']) ? 'res://a_fav_icon' : 'res://fav_icon'"></Image>
            <Label class="tab-text" text="Ulubione"></Label>
        </StackLayout>
        <StackLayout class="tab" col="3" row="0" [nsRouterLink]="['/menu/account']" [className]="salon.checkRoute(['account']) ? 'tab-active' : 'tab'">
            <Image class="tab-icon" [attr.src]="salon.checkRoute(['account']) ? 'res://a_acc_ico' : 'res://acc_ico'"></Image>
            <Label class="tab-text" text="Konto"></Label>
        </StackLayout>
    </GridLayout>
    <GridLayout *ngIf="account.checkAccountType()" class="bottom-navigation" dock="bottom" rows="*" columns="*, *, *, *, *" height="65">
        <StackLayout class="tab" col="0" row="0" [nsRouterLink]="['/menu/browser']" 
        [className]="salon.checkRoute(['category', 'browser','details']) ? 'tab-active' : 'tab'">
            <Image class="tab-icon" [attr.src]="salon.checkRoute(['category', 'browser','details']) ? 'res://a_search_ico' : 'res://search_ico'"></Image>
            <Label class="tab-text" text="Szukaj"></Label>
        </StackLayout>
        <StackLayout class="tab" col="1" row="0" [nsRouterLink]="['/menu/visits']" [className]="salon.checkRoute(['visits']) ? 'tab-active' : 'tab'">
            <Image class="tab-icon" [attr.src]="salon.checkRoute(['visits']) ? 'res://a_calendar_ico' : 'res://calendar_ico'"></Image>
            <Label class="tab-text" text="Wizyty"></Label>
        </StackLayout>
        <StackLayout class="tab" col="2" row="0" [nsRouterLink]="['/menu/fav']" [className]="salon.checkRoute(['fav']) ? 'tab-active' : 'tab'">
            <Image class="tab-icon" [attr.src]="salon.checkRoute(['fav']) ? 'res://a_fav_icon' : 'res://fav_icon'"></Image>
            <Label class="tab-text" text="Ulubione"></Label>
        </StackLayout>
        <StackLayout class="tab" col="3" row="0" [nsRouterLink]="['/menu/salon']" [className]="salon.checkRoute(['salon','my']) ? 'tab-active' : 'tab'">
            <Image class="tab-icon" [attr.src]="salon.checkRoute(['salon','my']) ? 'res://mysalon_acc_ico' : 'res://mysalon_ico'"></Image>
            <Label class="tab-text" text="Salon"></Label>
        </StackLayout>
        <StackLayout class="tab" col="4" row="0" [nsRouterLink]="['/menu/account']" [className]="salon.checkRoute(['account']) ? 'tab-active' : 'tab'">
            <Image class="tab-icon" [attr.src]="salon.checkRoute(['account']) ? 'res://a_acc_ico' : 'res://acc_ico'"></Image>
            <Label class="tab-text" text="Konto"></Label>
        </StackLayout>
    </GridLayout>
    <ScrollView orientation ="vertical">
        <router-outlet></router-outlet>
    </ScrollView>
</DockLayout>