@import "~@nativescript/theme/css/core.css";
@import "~@nativescript/theme/css/default.css";

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
Button.-primary {
    font-size: 18;
}

.activity-indicator{
  color: #AF83A5;
}

.action-image {
  width: 80;
  vertical-align: center;
}

.bar {
  background: transparent;
}

.bar-search {
  background: white;
}