
.page {
    background-color: #F5F5F5;
}

.button-bar{
  width: 100%;
}

.button{
  text-align: center;
  width: 50%;
  font-size: 20;
  font-weight: 200;
  padding: 5;
}

.button-active{
  border-width: 1;
  border-color: #e09ad0;
  background-color: #e09ad0;
  color: white;
}

.button-disactive{
  border-width: 1;
  border-color: #e09ad0;
  background-color: transparent;
  color: #e09ad0;
}

.not-found{
  padding: 100 20 20 20;
}

.not-found-text{
  font-size: 30;
  color: #777777;
  text-align: center;
}

.list-title{
  font-size: 40;
  padding-left: 20;
  color: #e09ad0;
}

.nofav-icon{
  width: 200;
}

.fav-btn{
  width: 40;
  height: 40;
  margin-right: 10;
}

.salon-item{
  background-color: white;
  border-radius: 5 5 0 0;
  padding: 0;
}

.cancel-visit{
  text-align: center;
  width: 100%;
  height: 30;
  background-color: rgb(155, 39, 39);
  border-radius: 0 0 5 5;
  border-width: 0 0 1 0;
  border-color: rgb(97, 18, 18);
  margin: 0;
  color: white;
}
.salon-name{
  padding: 0;
  font-size: 30;
  color: #AF83A5;
}

.salon-type{
  padding: 0;
  font-size: 15;
  color: #A8A8A8;
}

.visit-date {
  width: 66;
  height: 66;
  border-radius: 100;
  background-color: #e09ad0;
}

.day{
  text-align: center;
  color: white;
  font-size: 25;
  margin: 0;
  padding: 0;
}

.month {
  text-align: center;
  color: white;
  font-size: 10;
  margin: 0;
  padding: 0;
}

.hour {
  text-align: center;
  color: #e09ad0;
  font-size: 20;
  margin: 0;
  padding: 0;
}

.status {
  text-align: right;
  color: #e09ad0;
  font-size: 20;
  margin: 0;
  padding: 0;
}