.page {
  background-color: #F5F5F5;
  padding: 30 10 0 10;
}

.picker {
  width: 60%;
  color: #747474;
}

.services-item{
  padding: 5 10 5 10;
  border-radius: 5;
  border-width: 0 0 1 0;
  border-color: #cccccc;
  background-color: white;
  margin: 5 0 0 0;
}

.btn {
  margin: 0;
  font-size: 20;
  font-weight: 200;
  color: white;
}

.btn-cancel{
  width: 50%;
  background-color: #AF83A5;

}

.btn-reserv{
  width: 100%;
  background-color: #e09ad0;
}

.services-name{
  font-size: 15;
  color: #747474;
}

.services-info{
  font-size: 25;
  color: #e09ad0;
}

.switch {
  margin-right: 0;
  padding-right: 0;
}

.services-title{
  font-size: 30;
  color: #AF83A5;
}

.summary-text{
  font-size: 20;
  font-weight: 200;
  color: #AF83A5;
}

.header{
  margin-bottom: 20;
}

.salon-name{
  font-size: 40;
  color: #e09ad0;

}

.res{
  font-size: 20;
  color: #747474;
}

.week{
  font-size: 15;
  color: #a8a8a8;
}

.my-hr{
  margin: 0
}

.btn-add{
  text-align: center;
  font-size: 23;
  font-weight: 200;
  color: #e09ad0;
  height: 40;
  width: 40;
  border-radius: 50%;
  border-width: 1;
  border-color: #e09ad0;
}

.day{
  text-align: center;
  font-size: 20;
  font-weight: 200;
  border-radius: 50%;
  border-width: 1;
  color: white;
  border-color: #AF83A5;
  background-color: #AF83A5;
  padding: 12 15 12 15;
}

.day-disable{
  border-color:#a8a8a8;
  background-color: #a8a8a8;
}

.day-active{
  border-color: #ffc629;
  background-color: #e09ad0;
}

.count{
  text-align: center;
  font-size: 10;
  border-radius: 50%;
  border-width: 1;
  color: white;
  border-color: #ffc629;
  background-color: #ffc629;
  width: 22;
  height: 22;
}

.btn-week{
  background-color: #F5F5F5;
  height: 30;
  width: 30;
  border-radius: 50%;
  border-width: 1;
  border-color: transparent;
}

.next{
  background: url("res://city_arrow") no-repeat center center;
  background-size: contain;
}

.undo{
  background: url("res://back_arrow") no-repeat center center;
  background-size: contain;
}

.hour{
  font-size: 20;
  font-weight: 200;
  background-color: #ffbb01;
  border-radius: 5;
  border-width: 0 0 1 0;
  border-color: #cccccc;
  color: white;
  padding: 5;
}

.disable{
  opacity: 0.5;
}

.input {
  font-size: 18;
  font-weight: 200;
  border-color: transparent;
  padding: 0;
  margin: 0;
  placeholder-color: #A8A8A8;
}

.text-box{
  margin-bottom: 0;
  height: 80;
}